body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}
.title {
  font-size: 30px;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 30px auto;
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
  padding: 40px;
}

.move-item {
  height: 50px;
}
.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}
.result {
  font-size: 50px;
  font-weight: bold;
  margin-top: 50px;
}
.moves {
  font-size:25px;
}
.score {
  margin-top: 60px;
}
.reset {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}